<!-- Become Sponsor -->

<section id="become_sponsor" class="section-padding text-center parallex-bg">
  <div class="container">
    <div class="white_text div_zindex">
      <h2>Become a Sponsor</h2>

      <p>Interested in helping be a part of Coastal Georgia's first ever civic hackathon in its history? We're still seeking
        donations and in-kind contributions from local businesses, especially local food service establishments and restaurants.</p>

        <div class="space-30"></div>

      <a href="https://cvlassets.s3.amazonaws.com/Copy-of-NDOCH17-Event-Guide-Sponsors.pdf" class="btn margin-btm-20">View Sponsorship Playbook</a>

      <a href="mailto:yall@opensavannah.org" class="btn margin-btm-20">Get Started Today</a>
    </div>
  </div>

  <div class="dark-layer"></div>
</section>