<!-- Event Overview -->

<section id="about" class="about_style2 section-padding">
  <div class="container">

    <div class="row">
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Hack for Savannah Event Overview</h2>
            <em>Details, judging criteria, venue, hosts, team formation.</em>
          </div>
        </div>
      </div>
      <!-- /Heading -->
    </div>

    <div class="about-m-content row">
      <div class="col-md-8">
<iframe src="https://player.vimeo.com/video/236127576?color=ffffff&byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/236127576">Hack for Savannah: A Civic Hackathon on Urban Resiliency, Disaster Response</a> from <a href="https://vimeo.com/opensavannah">Open Savannah</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        <caption>
          <em>More than 45 Open Savannah brigade members and community residents got together Aug, 9 for a hacknight dubbed "SavMaps," in which they mapped out all social service resources in Chatham County in less than three hours.</em>
          <a href="https://savmaps.io">Check out what they built >></a>
        </caption>

        <br><br/>

        <blockquote>"There is no expertise more valuable than locality knowledge." - Jane Jacobs</blockquote>

        <h6>Who should come/what if I'm not a coder?</h6>

        <p>If you’re passionate about Savannah, if you think you can help make it more democratic, and if you believe in the
          power of code to facilitate change, you should come! Civic hacking and hackathons benefit from participants of
          all types of backgrounds and levels of expertise. Even those with no technological skills at all can play vital
          roles in researching, designing, and launching projects. Subject-matter experts are essential to the quality, sustainability,
          and scalability of a project. Content experts and partner organizations contribute extensive, nuanced knowledge
          of the subject matter; they help guide and structure a project so that it tackles key needs, creating the greatest
          possible impact. No specific technological skillsets will be needed for you to make a meaningful contribution to
          the hackathon.</p>
      </div>

      <div class="col-md-4">
        <h5>Want to help build <a href="https://github.com/opensavannah">stuff that matters</a>? Want to have a <a href="https://photos.app.goo.gl/D2hkIXsEdCM0twwO2">fun time</a>          meeting
          <a href="https://www.meetup.com/OpenSavannah/members/">new. interesting, and creative people</a> from the Savannah
          area? Want a chance to win up to $3,500 doing it?</h5>

        <p>Open Savannah’s first-annual “Hack for Savannah” civic hackathon (see <a href="https://opensavannah.org/what-is-a-civic-hackathon">What is a civic hackathon?”</a>)
          is absolutely <strong>free to participate in</strong>, and the civic technological solutions you build could end
          up being officially adopted by the City of Savannah or Chatham County.</p>

        <p>The hackathon is being held to mark <a href="http://codeforamerica.org">Code for America</a>'s annual <a href="http://ndoch.us">National Day of Civic Hacking</a>,
          an annual day of action to convene coders, bureaucrats, data scientists, journalists, user experience designers,
          and community activists to tackle big problems.</p>

        <h6>What is a hackathon?</h6>

        <p>Simply put, and as the name might suggest, hackathons are hacking marathons. This means that we get together for
          a weekend to create new projects from the ideation stage to functional (or at least semi-functional) prototypes.
          It’s also a great excuse to eat food, drink lots of coffee, hang out with friends and meet new people.
        </p>
      </div>

    </div>
    <!-- /about-m-content -->

    <div class="row">
      <div class="col-md-4">
        <div class="info_wrap">
          <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
          <h5>Who We Are</h5>
          <p>
            <a href="https://opensavannah.org">Open Savannah</a>, the official local brigade of <a href="http://codeforamerica.org">Code for America</a>.
            We're a diverse and inclusive mix of civic-minded individuals from a variety of backgrounds who share the common
            belief that we can make government work better "by the people, for the people, of the people, in the 21st Century."
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info_wrap">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h5>What you get</h5>
          <p>Aside from the feeling of having built something useful that improves the community, all participants will receive
            a healthy dose of SWAG (stickers!), access to all project assets, a cool project to add to their resume and,
            if your team wins, a healthy cash prize to take home! The winning team will also receive free tuition to ATDC's
            Startup Bootcamp.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info_wrap">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <h5>What We Do</h5>
          <p>We meet regularly to work on civic-technology projects that best fit the needs of the entire Savannah community.
            Whether it's building a <a href="https://savbook.io"> mobile resource directory for social services </a> or breaking
            down the <a href="http://openbudgetsav.org">City's budget data</a>, we play with civic apps and do a mix of project
            management, coding, documentation, event planning and designing.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="divider double"></div>
