<!-- Event Details -->

<section class="section-padding">
  <div class="container">

    <div class="row">
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>The Nitty Gritty</h2>
          </div>
        </div>
      </div>
      <!-- /Heading -->
    </div>

    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <h5>How will it work?</h5>

          <p>Participants will work in teams of no more than five (5) individuals over two days to develop civic-tech product
            and startup ideas that make a difference, with an additional prize bracket for the team with the best functional
            prototype. Winning teams will receive a total of $6K in cash prizes, courtesy of the generosity of Savannnah
            Economic Development Authority (SEDA).</p>

          <h5>The Basic Details</h5>

          <ul class="list_style_none">
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>All food and meals will be provided thanks to the generosity of our sponsors.
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>The event is BYOD ("bring your own device"). Please <a href="mailto:yall@opensavannah.org">notify</a> us by Oct. 16 if you don't have a laptop and we will seek to provide you one.
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>This is not an official City of Savannah event, but City Officials will be present to help judge and answer questions.</li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>Four cash prizes will be awarded. First, second and third place teams will each receive $2,500, $1,500 and $1,000, respectively.
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>A separate $1,000 prize will go to the team with the strongest functional prototype to display.</li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>The theme and the specific civic app challenge for the hackathon will be announced Friday evening (Sept. 22) at the kickoff reception.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-5 col-lg-6">
        <div class="row">
          {% include twitter-widget.html %}
        </div>
      </div>
    </div>

  </div>
</section>