<!--  Conference info -->

<section class="our-conference section-padding parallex-bg">
  <div class="container">

    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
          <div class="col-sm-3 col-xs-6">
            <div class="spekers-tickets-info">
              <i class="fa fa-microphone"></i>
              <span class="summary">8 expert judges</span>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="spekers-tickets-info"><i class="fa fa-ticket"></i>
              <span class="summary">100 ticket limit</span>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="spekers-tickets-info">
              <i class="fa fa-money"></i>
              <span class="summary">$6000 in cash prizes</span>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="spekers-tickets-info">
              <i class="fa fa-calendar-check-o"></i>
              <span class="summary">1.5 days of hacking</span>
            </div>
          </div>
        </div>

        <div class="resever-today text-center">
          <h2>Form your own team, or be assigned to a team upon arrival based on an equal distribution of skillsets at the event
            kickoff.
          </h2>
          <a href="https://www.eventbrite.com/e/hack-for-savannah-disaster-resiliency-response-registration-37262881281?aff=ehomecard" class="btn btn-lg js-target-scroll">Register Now</a>
        </div>
      </div>
    </div>

  </div>

  <div class="dark-layer"></div>
</section>