<footer class="secondary-bg">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-push-4 text-center">
        <div class="footer_logo">
          <a href="https://opensavannah.org">
            <img src="https://cvlassets.s3.amazonaws.com/open_sav_white_transparent_bg.png" alt="Open Savannah" width="150">
          </a>
        </div>
      </div>

      <div class="col-md-4 col-md-push-4">
        <ul class="social_links">
          <li><a href="{{ site.meetup }}"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.github }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4 col-md-pull-8">
        <p>&copy; {{ site.time | date: '%Y' }}, Open Savannah. All Rights Reserved.</p>
      </div>
    </div>

  </div>
</footer>

<!--Back to top-->
<div id="back-top" class="back-top">
  <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>