<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description | strip_html }}">
  <link rel="icon" href="{{ site.baseurl }}/favicon.png">

  <!--Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

  <!--Custome Style -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

  <!--OWL Carousel slider-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.transitions.css">

  <!--Pretty-Photo-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prettyPhoto.css">

  <!-- Custom Colors -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/switcher/css/red.css">

  <!--FontAwesome Font Style -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

  <!-- Google-Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
</head>