<!-- Hero Section -->

<section id="banner" class="banner-section">

  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content"> 
            <div class="banner-tagline">
              <h1>Hack for Savannah 2017</h1>
              <h3>Urban Resiliency & Disaster Response Hackathon</h3>
              <p>An <a href="https://opensavannah.org">Open Savannah</a> event in partnership with <a href="https://www.chathamemergency.org">CEMA</a> to mark Code for America's annual <a href="http://ndoch.us"> National Day of Civic Hacking</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-4">
          <div class="banner-form">
            <h4>Winning teams announced</h4>
<img src="https://cvlassets.s3.amazonaws.com/1022-open_savannah_civic_hackathon-7.jpg" width="100%">
           Congrats to <a href="https://drive.google.com/file/d/0B6w17sJcGYzHREc4UTh4SFktek0/view"></a>Team Wright Square</a> with <a href="https://docs.google.com/presentation/d/1AIMiWMJGqLzwnOGjBW7P8rFJuXT0ysfi62-R2IEun_I/edit#slide=id.g28e7ab5813_1_0">SAVeLine</a>, <a href="https://lh3.google.com/u/1/d/0B6w17sJcGYzHTWNrenBRRDdvSTQ=w3196-h1820-iv1">Team Liberty Square</a> with Blockhero and Team Chippewa Square with Emergency Savalert Communication Model!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-layer"></div>
</section>
