<!-- Timer Countdown -->

<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h6>Hackathon takes place</h6>
      <p class="conference_date">Oct. 20-22 @ 2222 Bull St.</p>
      <p>Check-in, kickoff reception and panel begins at 6:00 p.m. Friday.</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h6>Time Left To Hackathon Kickoff</h6>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
